.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-container div{
  text-align: center;
  color: white;
  position: absolute;
  bottom: 50px;
  width: 100%;
}
.video-container{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
}
.remote-video {
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
}
.local-video {
  position: absolute;
  border: 1px solid #cddfe7;
  bottom: 60px;
  left: 40px;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
  border-radius: 5px;
  width: 300px;
}




.profileImage{
  position: relative;
}
.profileImage .profile-pic {
  width: 100%;
  height: 100%;
  display: block;
}

.profileImage .file-upload {
  display: none;
}
.profileImage .circle {
  /* border-radius: 1000px !important;
  overflow: hidden;
  width: 128px;
  height: 128px; */
  /* border: 8px solid rgba(255, 255, 255, 0.7); */
  /* position: absolute; */
  top: 72px;
}
.profileImage img {
  max-width: 100%;
  height: auto;
}
.profileImage .p-image {
position: absolute;
bottom: 0;
right: 10px;
color: #666666;
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.profileImage .p-image:hover {
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.profileImage .upload-button {
font-size: 1.2em;
color: #FFF;
cursor: pointer;
}

.profileImage .upload-button:hover {
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
color: #999;
}