.auth_form {
    width: 100%;
    max-width: 25.5rem;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 6rem;
    text-align: center;
}
.auth_form #logo {
    background-size: 100%;
    background: url(https://web.telegram.org/z/telegram-logo.1b2bb5b107f046ea9325..svg) center no-repeat;
}
.auth_form #logo, .auth_form .AvatarEditable label {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7.5rem;
    height: 7.5rem;
    margin-bottom: 1.75rem;
}
.auth_form h2 {
    font-size: 1.25rem;
    line-height: 1;
}
.auth_form .note {
    font-size: .875rem;
    line-height: 1.35;
    margin-bottom: 2.5rem;
    color: rgb(112,117,121);
}

.formControl {
    border-width: 1px;
    display: block;
    width: 100%;
    height: 3.375rem;
    padding: calc(0.75rem - 1px) calc(0.9rem - 1px);
    border: 1px solid rgb(218,220,224);
    border-radius: 7px;
    color: rgb(0,0,0);
    background-color: rgb(255,255,255);
    outline: none;
    transition: border-color .15s ease;
    word-break: break-word;
    -webkit-appearance: none;
    font-size: 1rem;
    line-height: 1.25rem;
}
.formControl:hover {
    border-color: rgb(51,144,236);
}

.inputGroup label {
    display: block;
    padding: 0 0.25rem;
    position: absolute;
    right: 0.75rem;
    top: 0.95rem;
    background-color: rgb(255,255,255);
    font-size: 1rem;
    font-weight: 400;
    color: #A2ACB4;
    transition: transform .15s ease-out,color .15s ease-out;
    cursor: text;
    pointer-events: none;
    transform-origin: right center;
    white-space: nowrap;
}
.inputGroup label , .formControl:focus+label, .inputGroup .formControl.focus+label {
    transform: scale(1) translate(-0.5rem, -1.8rem);
}

.inputGroup {
    position: relative;
    margin-bottom: 1.5rem;
}

.Button {
    outline: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.5rem;
    border: 0;
    border-radius: 7px;
    background-color: rgb(51,144,236);
    background-size: cover;
    padding: 0.625rem;
    color: #ffffff;
    line-height: 1.2;
    cursor: pointer;
    text-transform: uppercase;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    transition: background-color .15s,color .15s;
    text-decoration: none !important;
}

@media (min-width: 600px){
    .auth_form h2 {
        font-size: 2rem;
        line-height: 1.5;
    }
    .auth_form .note {
        font-size: 1rem;
        margin-bottom: 3rem;
    }
}